@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Malgun Gothic', 'Apple SD Gothic Neo', sans-serif;
  -webkit-font-smoothing: antialiased;
}
